<div class="back">
<div class="home-page">
    <!-- الكلاس خاص بخلفية الصفحه الرئيسيه  -->
    <div class="overlay">

        <nav>
            <div class="row">
                <h1 class=" col-12 h1">Gestion de Stock</h1>
             
            </div>
            <!--row -->
        </nav>



        <!-- ___________________________________________tools__________________ -->
        <section >
            <div class="container">
                <ul>
                    <!-- <li (click)="sendDataEffect()"class="active  col-5 col-lg-3 hvr-bounce-in"> <a routerLink=".">الصفحه الرئيسيه</a> </li> -->
                    <li (click)="sendDataEffect()"class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top"routerLink="categorys"> <a >Categories</a> </li>
                    <li (click)="sendDataEffect()"class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top"routerLink="/clients"> <a >Clients</a> </li>
                    <li (click)="sendDataEffect()"class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top"routerLink="output"> <a >Ventes</a> </li>
                    <li (click)="sendDataEffect()"class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top"routerLink="input"> <a >Achats</a> </li>
                    <li (click)="sendDataEffect()"class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top"routerLink="stores"> <a >Magasins</a> </li>
                    <li (click)="sendDataEffect()"class="col-5 col-lg-3 hvr-bounce-in hvr-sweep-to-top"routerLink="suppliers"> <a >Fournisseur</a></li>

                   
                </ul>

                
            </div>
        </section>

       
    </div>
</div>
</div>

